html {
	background-color:#222831;
	color:#fff;
}
body {

}
a {
	color:inherit;
	text-decoration:none;
}
a:visited {

}
a:hover {
	color:#ec625f;
}
img {

}
i.material-icons {
	font-size:inherit;
}
.fullwidth {
	width:100%;
}
.content {
	max-width:1280px;
	margin:auto;
	padding:32px 8px;
}
.narrow {
	margin:auto;
	max-width:680px;
}
.expandparent {
	clear:both;
}
.fixed {
	max-height:calc(100% - 60px);
}
.popup {
	display:none;
}
.fullheight {
	min-height:100vh;
}
.responsive_table {
	overflow-x:auto;
}
.middle {
	vertical-align:middle;
}
.grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap:2px;
}
table#listitems {
	display:table;
	margin:auto;
}
table#listitems td {
	vertical-align:middle;
	white-space:nowrap;
	background-color:rgba(0,0,0,0.2);
	border-left:1px solid rgba(0,0,0,0.2);
}
table#listitems td .maxh {
	max-height:140px;
	white-space:normal;
}
table#listitems td.fixedcell img.handle {
	width:69px;
	height:auto;
}
table td.fixedcell {
	position:absolute;
	z-index:2;
}
.feeditem {
	box-shadow:3px 3px 0px 0px rgba(0,0,0,0.3);
	background-color:rgba(0,0,0,0.1);
	display:inline-block;
  margin-bottom: 1rem;
	width:100%;
	text-align:left;
}
.feeditem.recitem {

}
.feeditemcell {
	padding:16px;
	float:left;
}
.feeditemcell.feedicon {
	color:#ec625f;
	font-size:2rem;
}
.feeditemcell.feedcontent {
	color:white;
	width: calc(100% - 72px);
}
table.searchresults {
	width:100%;
}
table.searchresults td {
	vertical-align:middle;
	padding:1rem;
}
table.searchresults tr:nth-child(odd) td {
	background-color:rgba(0,0,0,0.03);
}
table.searchresults tr:nth-child(even) td {
	background-color:rgba(255,255,255,0.01);
}
.searchhit .grey {
	font-family: "Varela Round";
	margin-top: 0.5rem;
	color:rgba(255,255,255,0.3) !IMPORTANT;
}
.wordbreak {
	word-break:break-word;
}
.titlelist {
	display:block;
	overflow:hidden;
}
.titlelist li {
	display:block;
	clear:both;
	width:100%;
	overflow:hidden;
	background-color:#fff;
	color:#353535;
	height:152px;
}
.userquack {
	min-width:300px;
	white-space:normal;
}
.titlelist li .listiteminfo {
	width:calc(100% - 120px);
	float:right;
}
.userquack .bubble {
	max-width:calc(100% - 82px);
	float:left;
	margin-left:12px;
}
.titlelist li .userquack a:hover {
	color:black;
}
.listposter {
	float:left;
	overflow:hidden;
	border-radius:6px;
}
.listposter img {
	max-width:100%;
}
li.sortableli {
	height:92px;
	width:92px;
	overflow:hidden;
	float:left;
	position:relative;
	transition:.1s;
	text-align:center;
}
li.sortableli .handle {

}
li.sortableli .xinfo {
	display:none;
	padding:8px;
	background-color:white;
}
li.sortableli:hover {
	z-index:2;
	overflow:visible;
}
li.sortableli:hover .handle {
	position:relative;
	display:inline-block;
	transform:initial;
	left:initial;
	top:initial;
	background:white;
	padding:8px;
}
li.sortableli:hover .xinfo {
	display:block;
}
.streams {
	color:rgba(0,0,0,0.5);
}
.streams a {
	padding:16px;
	display:inline-block;
}
.streams a.free {
	border:1px solid white;
}
.streams a:hover {
	background:white;
	color:#353535;
}
.streams.darkstreams a {
	padding:8px;
	display:inline-block;
	color:white;
}
.streams.darkstreams a.free {
	border:1px solid white;
}
.streams.darkstreams a:hover {
	background-color:rgba(0,0,0,0.5);
	color:white;
}
.addtags .tag, #tagscontent .tag {
	display:inline-block;
}
.addtags .tag {
	margin-right:3px;
	font-size:15px;
}
.hzscroll {
	white-space:nowrap;
	overflow-x:auto;
}
.tag {
	padding:8px;
	border:2px solid rgba(255,255,255,0);
	cursor:pointer;
	margin-bottom:3px;
	vertical-align:top;
}
.tag:hover {
	border-color:white;
}

.tag.activebtn {
	color:#fff;
	background-color:#262D38;
}
.newtagbtn {
	border: 0;
    color: white;
    cursor: pointer;
    padding: 6px;
    display: inline-block;
    transition: .3s;
    background: none;
    vertical-align: top;
    line-height: 0px;
}
.newtagbtn:hover {
	background-color:white;
	color:#353535;
}
.simplebtn {
	display:block;
	color:#353535;
	padding:16px;
	cursor:pointer;
}
.simplebtn:hover {
	color:white;
	background-color:#353535;
}

.button {
	border-radius:2px;
	border:2px solid white;
	color:white;
	cursor:pointer;
	padding:1rem;
	display:inline-block;
	transition:.3s;
	background:none;
}

.button.activebtn {
	background-color:white;
	color:#353535;
}
.button.greybtn {
	border-color:#aaa;
	color:#aaa;
}
.button.activebtn.roundbutton {
	background:white;
	color:white;
}
.button.greybtn.activebtn {
	border-color:#262D38;
	background-color:#262D38;
	color:white;
}
.button.redbtn {
	border-color:#262D38;
	color:#262D38;
}
.button.redbtn.activebtn {
	border-color:#262D38;
	background-color:#262D38;
	color:white;
}
.button.whitebtn {
	border-color:white;
	color:white;
}
.button.whitebtn.activebtn {
	border-color:white;
	background-color:white;
	color:#262D38;
}
.button.addtolistbtn {
	display:block;
	border:0;
	border-radius:0;
}
.button.addtolistbtn.activebtn {
	background:none;
}
.button.wide {
	width:100%;
}
.roundbutton {
	border-radius:50%;
	border-width:3px;
	padding:0.75rem;
}
.roundbutton i {
	vertical-align:top;
}
.smallbtn.activebtn, .qoptions .smallbtn.activebtn:hover {
	color:#ec625f;
}
.btn {
	cursor:pointer;
	color:#aaa;
}
.btn:hover {
	color:#353535;
}
.btn.activebtn {
	color:#262D38;
}
.widebtn {
	width:100%;
	padding:1rem;
	margin:3px 0;
	display:block;
}
.widebtn:hover {
	background-color:rgba(0,0,0,0.2);

}
input.userfilter {
	display:none;
}
input.tagfilter {
	display:none;
}
.filterbtn {
	padding:12px;
	border-bottom:3px solid rgba(0,0,0,0);
	display:inline-block;
	margin-right:1px;
}
.filterbtn:hover {
	background-color:rgba(0,0,0,0.2);

}
input:checked + .filterbtn, .filterbtn.active {
	border-bottom:3px solid #ec625f;

	color:#fff;
}
.addremparent.removedparent {
	opacity:0.5;
}
.bubble
{
position: relative;
max-width:100%;
background: #f1f1f1;
color:black;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 12px;
display:inline-block;
min-height:54px;
white-space:normal;
}
.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #f1f1f1;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 12px;
}
.whitebubble, .quackslim .bubble
{
position: relative;
max-width:100%;
background: #fff;
color:black;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 12px;
display:inline-block;
min-height:54px;
}
.whitebubble:after, .quackslim .bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #fff;
display: block;
width: 0;
z-index: 1;
left: -15px;
top:calc(50% - 16px);
}
header.movieheader {
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:center;
}
.moviebackdrop {
	width:100%;
	box-shadow: 0 0px 16px 0px rgba(0,0,0,0.25);
}
footer.footer {
	padding: 86px 8px;
    background-color: rgba(0,0,0,0.1);
}
footer.footer .third {
	display:none;
}
.stickyheader {
    padding: 4px;
    position: sticky;
    top: -1px;
    background: #222831;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    max-width: 680px;
    margin: auto;
    text-align: center;
    z-index: 1;
}
.poster {
	display:inline-block;
	padding: 3px;
	margin:3px;
	background: black;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	border-radius:1px;
	transition:.25s;
}
.poster:hover {
}
.poster img {
	max-height:100%;
	display:block;
}
.postertiny {
	width:98px;
	height:144px;
}
.postertiny img {
	
}
header.movieheader .posterlarge {
	margin-top:2rem;
}
.movieinfowindow .postersmall {
	display:none;
}
.darkrating.ratemovie .votestar {
	color:#999;
}
.darkrating.ratemovie .votestar.myrating {
	color:#ec625f;
}
.redrating.ratemovie .votestar.myrating {
	color:#ec625f;
}
.ratemovie .votestar {
	color:white;
}
.ratemovie .votestar.myratingdark {
	color:#666;
	opacity:0.5;
}
.ratemovie .votestar.myrating i {

}
.ratemovie .votestar {
	display:inline-block;
	transition:.2s;
	cursor:pointer;
}
.ratemovie .votestar:hover {
	transform:scale(1.2);
}
.ratemovie .votestar i {
	font-size:42px;
}
.movieinfowindow .movievote {
	text-align:center;
	margin:auto;
	padding: 32px;
	white-space:nowrap;
}
.votebtn .votenr {
	display:inline-block;
	vertical-align:top;
	padding-right:6px;
}
.movievote .smallbtn.activebtn.upvote {
	background-color:#27ae60;
}
.movievote .smallbtn.activebtn.downvote {
	background-color:#262D38;
}
.movievote .movievoteopt .button.activebtn {
	color:#262D38;
}
.movieinfowindow .movievote .movievoteopt {
	width:33%;
	padding:8px;
	float:left;
	font-size:1.2rem;
}
.msgpart {
	min-height:84px;
}
.quack {
	width:100%;
	clear:both;
	margin:auto;
	margin-bottom:1em;
	background:rgba(0,0,0,0.1);
	transition:.5s;
	text-align:left;
	border-radius:2px;
	padding:6px;
	box-shadow:3px 3px 0px 0px rgba(0,0,0,0.3);
	position:relative;
}
.quackslim .qtoprow .qdatetime, .quackslim .qoptions {
	opacity:0;
	z-index:-1;
}
.quackslim {
	background-color:initial;
	transition:.5s;
}
input.input {
	background: white;
}
select.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 3px solid #e5e5e5;
	padding: 8px;
	font-size: 18px;
	background: white;
}
.replymsg {
	padding:8px;
	border-bottom:1px solid #f1f1f1;
}
.replymsg a.small {
	color:#aaa;
}
.qsmile {
	float:left;
	width:86px;
}
.postmessageqsmile {
	float:left;
	padding:0px;
	max-width:67px;
}
.widemsgholder {
	width:100%;
	background:white;
}
.widemsgholder .postmessage {
	width:100%;
	position:relative;
}
.widemsgholder.emojiwidemsgholder .postmessage {
	width:calc(100% - 67px);
	float:right;
}
input.widemsgtext {
	border-radius:0;
	border:0;
	font-size:20px;
	padding:16px;
	width:100%;
	float:left;
	border-bottom-left-radius: 2px;
	padding-right:60px;
}
input.widemsgsubmit {
	font-size:24px;
	padding:15px;
	background:#ec625f;
	color:white;
	text-shadow:2px 2px 0 rgba(0,0,0,0.2);
	border-radius:0;
	border-bottom-right-radius: 2px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
input.widemsgsubmit:hover {
	text-shadow:3px 3px 0 rgba(0,0,0,0.3);
	background:#BC4D4B;
}
.qtoprow {
	width:100%;
	font-size:16px;
	clear:both;
	padding:16px 8px;
	color:#fff;
	display:inline-block;
}
.qdatetime {
	float:right;
}
.qoptpane {
	display:inline-block;
	width:24%;
	padding:8px;
}
.smalloptionsbox {
	position:absolute;
	top:100%;
	right:0;
	display:inline-block;
	z-index:12;
}
.qmsg {
	width:calc(100%);
	float:left;
	font-size: 28px;
	color:white;
}
.quacktext {
	display:inline-block;
	word-wrap: break-word;
  max-width: 100%;
	font-size:20px;
}
.qoptions {
	color:#fff;
	text-align:center;
	white-space:nowrap;
	position:relative;
	width:100%;
}
.qmovielinkholder {
	height:140px;
	position:absolute;
	top:0;
	right:0;
}
.hw {
	height:100px;
	width:100px;
}
.qmovielink {
	transition:.35s;
	overflow:hidden;
	width:92px;
	display:inline-block;
	position:relative;
}
.qmovielink:hover {
	border-radius:2px;
	height:140px;
	z-index:1;
}
.quackpartwidth {
	width:calc(100% - 124px);
}
.addtags {
	vertical-align:top;
}
.recommendlist {
	white-space:normal;
}
form.addtag {
	position:relative;
}
form.addtag input[type="text"] {
	padding:6px;
	padding-right:1rem;
	font-size:16px;
	position:relative;
	border-color:white;
	border-radius:0;
	max-width:120px;
	border:2px solid white;
}
form.addtag input#submit {
	background: initial;
	color:black;
    padding: 8px;
    vertical-align: top;
    font-size: 16px;
    height: 100%;
	position: absolute;
    top: 0;
    right: 0;
	border-radius:0;
}
form.usersearch {
	position:relative;
	display:inline-block;
}
form.usersearch input[type="text"] {
	padding:6px;
	padding-right:1rem;
	font-size:16px;
	position:relative;
	border-color:white;
	border-radius:0;
	max-width:180px;
	border:2px solid white;
}
form.usersearch input#submit {
	background: initial;;
	color:black;
    padding: 8px;
    vertical-align: top;
    font-size: 16px;
    height: 100%;
	position: absolute;
    top: 0;
    right: 0;
	border-radius:0;
}
form.register input {
	width:100%;
	text-align:center;
}
form.register input.input {
	text-align:left;
}
.smallbtn {
	cursor:pointer;
	color:rgba(255,255,255,0.2);
	transition:.3s;
}
.smallbtn:hover {
	color:#fff;
}
.selectemoji {
	background-color:rgba(0,0,0,0.8);
	padding:8px 0;
	text-align:center;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10;
	overflow:auto;
	padding-bottom:64px;
}
.emojiboard li {
	display:inline-block;
	width:64px;
	height:66px;
}
nav#mainnav {
	position:fixed;
	bottom:0;
	width:100%;
	text-align:center;
	margin:auto;
	background-color:#262D38;
	z-index:11;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
nav#mainnav ul li {
	float:left;
	width:calc(100% / 4);
}
nav#mainnav ul li a {
	display:inline-block;
	padding:0.7rem;
	color:rgba(255,255,255,0.7);
	width:100%;
}
nav#mainnav ul li a:hover {
	color:white;
	background-color:rgba(0,0,0,0.1);
}
nav#mainnav ul li i.material-icons {
	font-size:1.5em;
}
.attentionho {
    height: 12px;
    background: deeppink;
    width: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -1rem;
    margin-left: 0.6rem;
    border-radius: 50%;
}
i.material-icons.small {
	font-size:0.9em;
}
i.material-icons.inlined {
	vertical-align: top;
	font-size: 1.5rem;
	line-height: 1rem;
}
.navdesc {
	font-size: 14px;
	vertical-align: top;
	display:block;
	
}
#main {
	width:100%;
}
#toprow {
	padding:16px 6px;
	text-align:left;
	background-color:#fff;
	color:black;
	width:100%;
	z-index:8;
	display:none;
}
.toprowbutton {
	padding:8px;
	border:2px solid white;
	border-radius:3px;
	cursor:pointer;
	color:white;
	transition:.3s;
}
.toprowbutton:hover {
	background-color:#fff;
	color:#262D38;
}
.mainlogo {
	display:inline-block;
	width:100px;
	margin-right:16px;
}
.mainlogo img {
	max-width:100%;
}

#mainhamburger {
	padding-right:16px;
	cursor:pointer;
}
.mobilecontent {
	max-width:100%;
	margin:auto;
	min-height:calc(100vh - 300px);
	clear:both;
	width:100%;
	padding-bottom:84px;
}
.card {
	text-align:left;
	padding:32px;
	background-color:rgba(0,0,0,0.65);
	border-radius:2px;
	color:white;
}
.card input {
	border:2px solid #ddd;
}
.window {
	background-color:rgba(0,0,0,0.15);
	color:white;
}
.tintedwindow {
	background-color:rgba(0,0,0,0.25);
	color:white;
}
.darkwindow {
	background-color:rgba(0,0,0,0.65);
	color:white;
}
.verydarkwindow {
	background-color:rgba(0,0,0,0.85);
	color:white;
}
.urgentmessage {
	background:rgba(0,0,0,0.3);
	color:white;
	display:inline-block;
	width:100%;
	padding:1em;
	margin:1em 0;
	text-align:center;
	font-size:1.5em;
}
.whitecard {
	padding:32px;
	background-color:white;
	border-radius:2px;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
	color:black;
}
.flatcard {
	padding:16px;
	background:#fff;
	border-radius:2px;
	display:inline-block;
	width:100%;
	box-shadow:0 2px 2px 0px rgba(0,0,0,0.16);
	background-color:rgba(0,0,0,0.1);
}
.mainsearchcontent {
	text-align:center;
	padding:64px 8px;
	height:calc(100vh - 48px);
}
#searchmovie {
	padding:calc(100vh / 2 - 240px) 0;
}
.backgroundimage {
	background-size:cover;
	background-position:50%;
	background-position-y:20%;
	background-attachment: fixed;
}
.absolutefill {
	position:absolute;
	width:100%;
	height:100%;
}
.absolutecenter {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.absolutecenterh {
	position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    margin-top: 16px;
}
.feedusername {
	padding:16px;
}
#searchmovieform {
	margin: auto;
	max-width: 680px;
	width: 100%;
}
.searchfield {
	border-radius:2px;
	font-size:20px;
	width:100%;
	outline:0;
	padding:16px;
	transition:.3s;
}
.searchfield:focus {

}
#searchmovieform .twitter-typeahead {
	width:100%;
}
.searchholder {
	vertical-align:bottom;
	display:inline-block;
	width:100%;
	max-width:600px;
	color:#333;
}
.searchbuttonhold {
	display:inline-block;
	z-index:1;
	position:relative;
	padding:16px 0;
	width:100%;
}
.searchbubble
{
	position: relative;
	max-width:100%;
	background: #262D38;
	color:black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 12px;
	display:inline-block;
	width:calc(100% - 120px);
	padding:6px;
	vertical-align:top;
	max-width:200px;
}
.searchbubble:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 12px 15px 12px 0;
	border-color: transparent #262D38;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 22px;
}
.searchbutton {
	background-color:#ec625f;
	color:white;
	border-radius:10px;
	vertical-align:bottom;
	font-size: 25px;
  padding: 15px;
	transition:.3s;
	width:100%;
	cursor:pointer;
}
.searchbutton:hover, .searchbutton:active {
	background-color:#BC4D4B;
	color:white;
	cursor:pointer;
	transition:.3s;
}
.topsearchbar .searchbutton {
	width:60px;
	height:55px;
	border-radius:0;
	float:right;
	font-size:25px;
	text-shadow:2px 2px rgba(0,0,0,0.2);
	border-top-right-radius: 2px;
	border-bottom-right-radius:2px;
}
input {
	border:0;
	border-radius:2px;
	padding:1rem;
	font-size:18px;
}
.topsearchbar {
	width:100%;
	text-align:center;
}
.topmenu h1 {
	padding:1.5rem 0;
	padding-top:1rem;
	font-size:50px;
	font-family: 'Pacifico';
	color:white;
}
.topmenu .togglesearch {
	float:right;
	padding:16px;
	color:rgba(0,0,0,0.35);
	transition:.2s;
	cursor:pointer;
}
.topmenu .togglesearch:hover {
	background:#ec625f;
	color:#fff;
}
.topmenu .togglesearch i.material-icons {
	font-size:50px;
}
#tophomelink:hover {
	color:inherit;
}
.topsearchbar .searchfieldholder {
	width:calc(100% - 60px);
	max-width:calc(100% - 60px);
	float:left;
	height:55px;
}
.topsearchbar .searchfield {
	border-radius:0;
	border-top-left-radius: 2px;
	border-bottom-left-radius:2px;
	height:55px;
}
.topsearchbar .moviepagesearchfieldholder .searchfield {
	border-bottom-left-radius:0;
}
.topsearchbar .moviepagesearchfieldholder .searchbutton {
	border-bottom-right-radius:0;
}
.darkred {
	color:#262D38;
}
.tt-open {
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.26);
	background-color:white;
	text-align:left;
	color:#353535;
	border-radius:6px;
}
.tt-open .tt-suggestion {
	display:block;
	padding:12px;
}
.tt-open a {
	display:block;
}
.tt-open .tt-suggestion:hover {
	background-color:#262D38;
	color:white;
}
#searchmovieform .tt-open .tt-suggestion {
	padding:0;
}
#searchmovieform .tt-open a {
	padding:16px;
}
#searchmovieform .tt-open a:hover {
	color:white;
}
form#addtag .tt-suggestion {
	padding:8px;
}
form#addtag .tt-suggestion:hover {
	background-color:#262D38;
	color:white;
}
#randommoviesug {
	overflow:hidden;
	transition:.5s;
	position:relative;
	background-color:white;

}
#randommoviesug .contentholder {
	width:100%;
	z-index:3;
}
#randommoviesug .contentholder .content {
	padding:64px 16px;
}


@media screen and (max-width: 769px) {
	.recommendlist.addtags .tag {
		display:block;
	}
	table.searchresults td {
		padding:0;
		font-size:0.8rem;
		text-align:center;
	}
	table.searchresults td .poster {
		margin:1rem 0;
	}
	nav#mainnav ul li a {
		padding:0.5rem;
		font-size:15px;
	}
	input.widemsgsubmit {
		border-bottom-right-radius:0;
	}
	input.widemsgtext {
		border-bottom-left-radius:0;
	}
	.topsearchbar .searchfield {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.topsearchbar .searchbutton {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.qoptions {
		width:100%;
		max-width:100%;
	}
	.qmovielink {

	}
	html, body {
    	max-width: 100vw;
	}

	h1 {
		font-size:2.65em;
	}
	.navdesc {
		display:none;
	}
	.mainsearchcontent {
		padding:64px 8px;
		min-height:100vh;
	}
	header.movieheader .posterlarge {
		display:none;
	}
	.movieinfowindow .postersmall {
		display:inline-block;
		height:400px;
	}
	.movievote {
		padding:0;
		padding-top:8px;
	}
	.mobilehide {
		display:none;
	}
	.movieinfowindow {
		padding-top:16px;
	}
	.fixed {
		margin-bottom:54px;
	}
	.topmenu h1 {
		font-size:42px;
	}

	.topmenu .togglesearch i.material-icons {
		font-size:32px;
	}
	.msgpart {
		padding: 0;
	}
	.qsmile {
		width:64px;
	}


}
@media screen and (min-width: 770px) {

	.desktophide {
		display:none;
	}
	.button:hover {
		background-color:white;
		color:#262D38;
	}
	table.feed td .poster:hover {
		transform: scale(1.05);

	}
	.button.greybtn:hover {
	border-color:#aaa;
	background-color:#aaa;
	color:white;
}
.button.greybtn.activebtn:hover {
	border-color:#262D38;
	background-color:#262D38;
	color:white;
}
.button.redbtn:hover {
	border-color:#262D38;
	background-color:#262D38;
	color:white;
}
}
