RewriteEngine on

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^user?$ profile.php

RewriteRule ^user/([a-z0-9]+) profile.php?id=$1

RewriteRUle ^user/ profile.php

RewriteRule ^list/([a-z=\[\]&\@]+) list.php?$1

RewriteRule ^list/ list.php

RewriteRule ^list list.php

RewriteRule ^movie/([a-z0-9]+) movie.php?id=$1

RewriteRule ^quack/([a-z0-9]+) quack.php?id=$1

RewriteRule ^login login.php
RewriteRule ^register register.php
RewriteRule ^logout logout.php
