RewriteEngine on

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^$ mymovies.php

RewriteRule ^user?$ profile.php

RewriteRule ^user/([A-Za-z0-9]+) profile.php?id=$1

RewriteRule ^user/ profile.php

RewriteRule ^list/([a-z=\[\]&\@]+) list.php?$1

RewriteRule ^list/ list.php

RewriteRule ^list list.php

RewriteRule ^movie/([a-z0-9]+) movie.php?id=$1

RewriteRule ^quack/([a-z0-9]+) quack.php?id=$1

RewriteRule ^login login.php
RewriteRule ^register join.php
RewriteRule ^logout logout.php
RewriteRule ^join join.php
RewriteRule ^welcome welcome.php
RewriteRule ^getimdbwatchlist getimdbwatchlist.php
RewriteRule ^enteremail enteremail.php
RewriteRule ^enterimdbusr enterimdbusr.php
RewriteRule ^buffet buffet.php
RewriteRule ^settings settings.php
RewriteRule ^mymovies mymovies.php
RewriteRule ^feed mainfeed.php