<style>
.buffet__bottom {
    text-align:center; 
    width:100%; 
    z-index:3; 
    position:fixed; 
    bottom:0; 
    right:0; 
    padding:1rem;
    background-color:#5a1a2a;
}
.buffet__bottom .buffet__text {
    font-size:30px;
    padding:16px;
}
.buffet__bottom .buffet__text i.material-icons {
    font-size:30px;
}
.buffet__grid {
    
}
@media screen and (max-width: 769px) {
    .buffet__bottom .buffet__text {
        font-size:16px;
        padding:6px;
    }
    .buffet__bottom .buffet__text i.material-icons {
        font-size:16px;
    }
    .buffet__bottom .buffet__button .button {
        font-size:18px;
    }
    .buffet__grid {
        grid-template-columns: auto;
    }
    .buffet__grid > div {
        padding:2rem 0;
    }
}
</style>
<div class="content">

<h4 class="padding">What do you like?</h4>

</div>

<div style="background-color:black" class="grid buffet__grid">
{squares}
</div>

<div class="buffet__bottom">
    <div class="third padding buffet__text"><i class="material-icons inlined">star</i> movies you have seen</div>
    <div class="third padding buffet__text"><i class="material-icons inlined">bookmark</i> movies you want to see</div>
    <div class="third padding buffet__button"><a href="/mymovies" class="floatright button widebtn">Okay, I'm done<i class="material-icons inlined">navigate_next</i></a></div>

</div>
