<style>
.buffet__bottom {
    text-align:center; 
    width:100%; 
    z-index:3; 
    position:fixed; 
    bottom:0; 
    right:0; 
    padding:1rem;
    margin:1rem; 
    background-color:#5a1a2a;
}
.buffet__bottom .third {
    font-size:30px;
}
.buffet__bottom .third i.material-icons {
    font-size:30px;
}
@media screen and (max-width: 769px) {
    .buffet__bottom .third {
        font-size:16px;
    }
    .buffet__bottom .third i.material-icons {
        font-size:16px;
    }
}
</style>
<div class="content">

<h4>What do you like?</h4>

</div>

<div style="background-color:black" class="grid">
{squares}
</div>

<div class="buffet__bottom">
    <div class="third padding"><i class="material-icons inlined">star</i> movies you have seen</div>
    <div class="third padding"><i class="material-icons inlined">bookmark</i> movies you want to see</div>
    <div class="third padding"><a href="mymovies" class="floatright button widebtn">Okay, I'm done<i class="material-icons inlined">navigate_next</i></a></div>

</div>
