<script>
function getImdbWatchlist(e) {
  e.preventDefault();
  
  var imdbusr = jQuery("#imdbusr").val().toLowerCase().replace(/[^a-z0-9]+/g,'-');
  console.log("imdb"+imdbusr);
  var page = "/getimdbwatchlist.php";
  var obj = {
    "imdbusr": imdbusr
  };

  postAjaxPhp(obj, page, function(res) {
    console.log("callbacked imdb");
    jQuery("#textmessage").html("<p>Finished</p>"+res);
    console.log(res);
  });
  
  jQuery("#textmessage").text("Importing movies...");
}
</script>

<div class="padding"></div><div class="centeralign">

<div class='white paddingtop'>

<div class="content">

  <h2>Get watchlist from IMDb</h2>
  <p class="padding">
    Enter a link to your IMDb-watchlist or just your IMDb user id (like ur1234567).
  </p>
  <p>
    Make sure your watchlist is set to "Public". 
    To do this, log in to IMDb.com > Your Watchlist > Edit > Settings > set Privacy to "Public"
  </p>

  <form class="padding" onsubmit="return getImdbWatchlist(event)" action="" method="post">
    <input value="" class="input marginbottom" type='text' placeholder="imdb.com/user/ur1234567/watchlist" name='imdbusr' id='imdbusr' maxlength="250"/>
    <input class="button {registerbtnclass}" id="submit" name="submit" type="submit" value="import watchlist"/>
  </form>
  <span id="textmessage"></span>

  <a class="margin smalltext" href="/settings">Back</a>


</div>
</div>
</div>