<script>
function getImdbWatchlist(e) {
  e.preventDefault();
  
  var imdbusr = jQuery("#imdbusr").val().toLowerCase().replace(/[^a-z0-9]+/g,'-');
  console.log("imdb"+imdbusr);
  var page = "/getimdbwatchlist.php";
  var obj = {
    "imdbusr": imdbusr
  };

  postAjaxPhp(obj, page);
  
  window.location.href = "/buffet";
}
</script>

<form onsubmit="return getImdbWatchlist(event)" action="" method="post">
  <input value="" class="input marginbottom" type='text' placeholder="imdb url" name='imdbusr' id='imdbusr' maxlength="200"/>
  <input class="button {registerbtnclass}" id="submit" name="submit" type="submit" value="import watchlist"/>
</form>
<span id="textmessage"></span>

<a class="button inblock margin" href="/buffet">Skip</a>
