<script>
function getImdbWatchlist(e) {
  e.preventDefault();
  
  var imdbusr = jQuery("#imdbusr").val().toLowerCase().replace(/[^a-z0-9]+/g,'-');
  console.log("imdb"+imdbusr);
  var page = "/getimdbwatchlist.php";
  var obj = {
    "imdbusr": imdbusr
  };

  postAjaxPhp(obj, page, function() {
    console.log("callbacked imdb");
    jQuery("#textmessage").text("Watchlist successfully imported");
  });
  
  jQuery("#textmessage").text("Importing movies...");
}
</script>

<div class="padding"></div><div class="centeralign">

<div class='white paddingtop'>

<div class="content">

  <h1>Get watchlist from IMDb (optional)</h1>
  <p class="padding">Enter a link to your IMDb-watchlist</p>

  <form class="padding" onsubmit="return getImdbWatchlist(event)" action="" method="post">
    <input value="" class="input marginbottom" type='text' placeholder="imdb.com/user/ur1234567/watchlist" name='imdbusr' id='imdbusr' maxlength="200"/>
    <input class="button {registerbtnclass}" id="submit" name="submit" type="submit" value="import watchlist"/>
  </form>
  <span id="textmessage"></span>

  <a class="margin smalltext" href="/settings">Back</a>


</div>
</div>
</div>