<div style="{topsearchbarstyle}" class="topsearchbar">

<div class="topmenu">

  <a id="tophomelink" href="{baseurl}">

<h1 class="inblock"><span class="">movie</span><span class="red">quack</span></h1>
  </a>

</div>

<form id="searchmovieform" method="get" action="/searchpage.php" class="{searchfieldholderclass}">
  <div class="searchfieldholder">
    <input id="searchfield" placeholder="search moviequack.com" class="padding typeahead searchfield" type='name' name='q'/>
  </div>
<input value="&#xE8B6;" class="searchbutton material-icons" type="submit"/>
</form>
</div>

<nav id="mainnav">
  <div class="centercontent narrow">
    <ul>
      <li><a href="/feed"><i class="material-icons">message</i><span class="navdesc">Feed</span></a></li>
      <li><a href="/mymovies"><i class="material-icons">local_movies</i><span class="navdesc">Movies</span></a></li>
      <li><a href="/list"><i class="material-icons">filter_list</i><span class="navdesc">List</span></a></li>
      <li><a href="/settings"><i class="material-icons">settings</i><span class="navdesc">Settings</span></a></li>
    </ul>
  </div>
</nav>

<div class="mobilecontent">





<div id="main">
  {content}
</div>

</div>

<div style="display:none;" class="selectemoji">

</div>
