<!DOCTYPE html>
<html>

<head>

<title>MovieQuack</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="css/reset.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lato|Muli|Varela+Round" rel="stylesheet">
<link href="css/font.css" rel="stylesheet">
<link href="css/basic.css" rel="stylesheet">
<link href="css/moviequack.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="javascript/typeahead.min.js"></script>
<script src="javascript/functions.js?v=2.1"></script>
<script src="javascript/emojione.min.js"></script>

</head>

<body>

  {content}

</body>

</html>
