<script type="text/javascript">
$(function(){
         $('#filters input').on('change',function(){
            $('#filters').submit();
            });
        });
</script>

<div class="narrow paddingtop">

<form id="filters" action="/list/" method="get">
  <div class="small paddingleft">Users</div>
<div class="users paddingtop0 paddingbottom hzscroll">{users}</div>
  <div class="small paddingleft">Tags</div>
<div class="tags paddingtop0 paddingbottom hzscroll">{tagsbuttons}</div>
</form>

</div>

<div style="clear:both;" class="paddingtop">
  {listitems}
</div>
