<script>
jQuery(document).on("change", ".selectedlist", function() {
      //console.log(window.location.protocol + "//" + window.location.host + "/");
      window.location.href = "/list.php?id="+this.value;
});
jQuery(document).ready(function() {
  var list = jQuery("#listitems");
  var ulheight = list.height();
  list.height(ulheight);
});
</script>
<div class="content narrow">
<header class="inblock profileheader contentholder marginbottom"><h1>{listname}</h1></header>
<div>{loggedinlistoptions}</div>

</div>

<div style="clear:both;" class="">
  {listitems}
</div>
