<script type="text/javascript">
$(function(){
         $('#filters input').on('change',function(){
            $('#filters').submit();
            });
        });
</script>

<div class="narrow paddingtop">

<form id="filters" action="list.php" method="get">
  <div class="small">Users</div>
<div class="users paddingtop0 paddingbottom">{users}</div>
  <div class="small">Tags</div>
<div class="tags paddingtop0 paddingbottom">{tagsbuttons}</div>
</form>

</div>

<div style="clear:both;" class="paddingtop">
  {listitems}
</div>
