<div style="background-image:url({backdrop})" class="third">
  <div class="darkwindow">
<h3>{movietitle}</h3>
<div style="display:inline-block" class="poster postersmall">
    <img src="{posterurl}"/>
   </div>

   <div class="movievote voteparent fullwidth" data-postid="{movieid}">
   	<div class="movievoteopt">
   		<div data-tag="favourite" data-movie="{movieid}" class="button roundbutton tag {favouriteactive}"><i class="material-icons">favorite</i></div>
   	</div>
   	<div class="movievoteopt">
   		<div data-tag="bookmark" data-movie="{movieid}" class="button roundbutton tag {bookmarkactive}"><i class="material-icons">bookmark</i></div>
   	</div>

   </div>

  <div id="movierating" class="relative ratemovie redrating padding">
  {movierating}
  </div>

</div>
</div>
