<div style="background-image:url({backdrop}); background-size:cover; position:relative;" class="">
<div style="height:100%; z-index:1; position:absolute;width:100%; top:1; left:0" class="darkwindow padding"></div>
  <div style="position:relative; z-index:2;min-height:100%; " class="padding">



<div style="margin-right:1rem;" class="poster postersmall floatleft">
    <img src="{posterurl}"/>
   </div>
<h3>{movietitle}</h3>


  <div id="movierating" class="relative ratemovie redrating padding">
  {movierating}
  </div>

  <div class="movievote voteparent" data-postid="{movieid}">

   <div class="movievoteopt">
     <div data-tag="bookmark" data-movie="{movieid}" class="button roundbutton tag {bookmarkactive}"><i class="material-icons">bookmark</i></div>
   </div>

  </div>


</div>
</div>
