<div style="text-align:center; position:relative;" class="">
<div style="height:100%; z-index:1; position:absolute;width:100%; top:0; left:0" class="darkwindow padding"></div>
  <div style="position:relative; z-index:2;min-height:100%; " class="padding">



<div data-tag="bookmark" data-movie="{movieid}" style="margin:1rem auto;" class="poster postersmall tag">
    <img src="{posterurl}"/>
   </div>
<h4>{movietitle}</h4>


  <div id="movierating" class="relative ratemovie redrating padding">
  {movierating}
  </div>

  <div class="movievote voteparent" data-postid="{movieid}">

   <div class="movievoteopt">
     <div data-tag="bookmark" data-movie="{movieid}" class="button roundbutton tag {bookmarkactive}"><i class="material-icons">bookmark</i></div>
   </div>

  </div>

  <div data-movieid="{movieid}" class="buffet__seedescription" onclick="">What is this?</div>
  <div class="padding buffet__moviedesc" id="{movieid}_description" style="display:none;">
    <div style="margin-bottom:1rem"><span data-movieid="{movieid}" id="{movieid}_genres"></span> from {movieyear}</div>
    <div>{description}</div>
  
  </div>


</div>
</div>
