<div id="{postid}" class="quack voteparent addremparent" data-timestamp="{rawtimestamp}" title="{timestamp}" alt="{timestamp}" data-postid="{postid}">

<div class="qmovielinkholder floatright padding">
<a class="qmovielink" href="movie/{movieid}"><img alt="{movietitle} ({movieyear})" src="{tinyposter}"></a>
</div>

<div class="floatleft paddingleft">
	<span class="qtoprow">
		<span class="qusername"><a href="profile/{userid}">{username}</a> {followbtn}</span>
	</span>

	<div class="msgpart">

		<div class="qmsg padding0 ">

	      <div style="font-size:{quacksize}px" class="quacktext"><div class="floatright hw"> </div>{message}</div>


		</div>
		<div class="clear"></div>
	</div>
</div>



	<div class="qoptions floatleft">
		<span class="qoptpane smallbtn upvote votebtn {upvoteactive}"><span class="votenr votedisplay">{upvotes}</span> <i class="material-icons">thumb_up</i></span>
		<span class="qoptpane smallbtn downvote votebtn {downvoteactive}"><span class="votenr votedisplay">{downvotes}</span> <i class="material-icons">thumb_down</i></span>
		<a href="quack.php?id={postid}" class="qoptpane smallbtn"><i class="material-icons">chat_bubble</i></a>
		<span data-expand="options{postid}" class="qoptpane smallbtn"><i class="material-icons">more_horiz</i></span>
		<div class="smalloptionsbox whitecard nopadding options{postid} popup" style="display:none">
			{removepostbtn}
			<a href="//www.moviequack.com/movie/{movieid}#{postid}" class="simplebtn">Link to quack</a>
		</div>
	</div>



<div class="clear"></div>
</div>
