<meta data-itemid="{imdbid}">
<div class="gradientredback moviebackdrop">
<header style="background-image:url({backdrop})" class="movieheader contentholder">
<div class="darkwindow">


<div class="centercontent centeralign">



<div class="centercontent narrow">

	<div id="{postid}" class="floatleft voteparent addremparent paddingbottom" data-timestamp="{rawtimestamp}" title="{timestamp}" alt="{timestamp}" id="q{snop}" data-postid="{postid}">

	<span class="qtoprow leftalign">
		<span class="qusername"><a href="profile/{userid}">{username}</a> @ 	<a href="/movie/{movieid}">{movietitle}



			</a></span>
			</span>

	<div class="leftalign">

		<div class="qmsg padding">

	      <div style="" class="quacktext">{message}</div>





		</div>

	</div>



	</div>

<div class="clear"></div>
</div>
</div>
</div>

</header>
</div>


  <section class="movieposts">
		<div class="reply{postid}">
		<div class="replyzone">
			<div class="widemsgholder centercontent narrow">

		<form class='postmessage' name="postmessage" method="post" data-postid="{postid}">
		<fieldset>

		<input placeholder="reply to {username}" class='widemsgtext input' type='text' name='message' id='message' maxlength="250" />
		<input type='hidden' name='movieid' id='movieid' value="{movieid}" />
		<input id="submit" class="widemsgsubmit submit material-icons" type='submit' name='submit' value='&#xE163;' />

		</fieldset>
		</form>
		</div>

		<div class="centercontent narrow replies">{replies}</div>

	</div>
	</div>
  </section>
