<meta data-itemid="{imdbid}">
<div class="gradientredback">
<header style="background-image:url({backdrop})" class="movieheader contentholder">
<div class="darkwindow">


<div class="centercontent centeralign">



<div class="">



<div class="narrow movieinfowindow">





<div style="" class="padding2">

		 <a href="movie.php?id={movieid}">
		<h3>{movietitle} ({year})</h3>


	</a>


	</div>

</div>

</div>

<div class="clear"></div>





<div class="centercontent narrow">

	<div style="background-color:rgba(0,0,0,0)" id="{postid}" class="quack voteparent addremparent paddingbottom" data-timestamp="{rawtimestamp}" title="{timestamp}" alt="{timestamp}" id="q{snop}" data-postid="{postid}">

	<span class="qtoprow">
		<span class="qusername"><a href="profile.php?id={userid}">{username}</a></span>
			</span>

	<div class="msgpart">
		<div class="qsmile padding0">{msgemoji}</div>

		<div class="qmsg padding0 ">
		<div class="bubble padding">
	      <div style="font-size: {quacksize}px" class="quacktext">{message}</div>

	      <span class="smalltext grey"></span>
		  </div>



		</div>
		<div class="clear"></div>
	</div>



	</div>


</div>
</div>
</div>

</header>
</div>

<div class="centercontent narrow">


  <section class="movieposts">
    {posts}
  </section>
  </div>
