<form action="/join" method="post">
<div style="position:relative"><input id="username" class="input fullwidth marginbottom" type='name' placeholder="username" name='username' maxlength="50" required />
<div class="" style="display:none;position:absolute;top:0;left:100%;padding:0.5rem;" id="usernamewarning">Username taken!</div></div>
  <input class="input fullwidth marginbottom" type='password' placeholder="password" name='password' maxlength="50"  required /><br>
  <input class="button fullwidth {registerbtnclass}" id="register" type="submit" value="join"/>
</form>
<a class="inblock margin {loginlinkclass} smalltext" href="/login">Already a member? Sign in</a>
<script src="/js/checkusername.js"></script>
