<form class="centercontent" style="max-width:300px;" action="/join" method="post">
<span style="position:relative">
  <input id="inv" class="input fullwidth marginbottom" type='hidden' placeholder="invite code" name='inv' maxlength="50" value="{invid}" required /><br>
  <input id="username" class="input fullwidth marginbottom" type='text' placeholder="username" name='username' maxlength="50" required />
<span class="" style="display:none;position:absolute;top:0;right:100%; margin-right:1rem" id="usernamewarning">Username taken!</span>
</span>
  <input class="input fullwidth marginbottom" type='password' placeholder="password" name='password' maxlength="50"  required /><br>
  <input class="button fullwidth {registerbtnclass}" id="register" type="submit" value="join"/>
</form>
<a class="inblock margin {loginlinkclass} smalltext" href="/login">Already a member? Sign in</a>
<script src="/js/checkusername.js"></script>
