<form action="register.php" method="post">
  <input class="input marginbottom" type='name' placeholder="username" name='username' maxlength="50" required autocomplete="off"/><br>
  <input class="input marginbottom" type='password' placeholder="password" name='password' maxlength="50"  required autocomplete="off"/><br>
  <input class="button {registerbtnclass}" id="register" type="submit" value="join"/>
</form>
<a class="inblock margin {loginlinkclass} smalltext" href="login.php">Already a member? Sign in</a>
