<div class="content narrow">

<h2>{user}</h2>

<div class="margintop">
    <a class="widebtn" onclick="function(e) { e.preventDefault(); jQuery(this).select(); }" href="http://dev.moviequack.com/join?inv={inviteurl}">http://dev.moviequack.com/join?inv={inviteurl}</a>
    <a class="widebtn" href="/enterimdbusr">Import IMDb watchlist</a>
    <a class="widebtn" href="/enteremail">Connect e-mail to account</a>
    <a class="widebtn" href="/list">Lists</a>
    <a class="widebtn" href="/correlations.php">Correlations</a>
    <a class="widebtn" href="/user">Profile</a>
    <a class="widebtn" href="/logout">Log out</a>
</div>

</div>
