<div style="height:100vh" class="">

  <div style="position:relative; height:100%" class="half">
    <div class="absolutecenter">

      <img src="img/moviequack.png">
    </div>
  </div>

  <div style="background-color:rgba(0,0,0,0.25); position:relative; height:100%;" class="half">
    <div class="absolutecenter" style="text-align:center">
<h1>join us</h1>
      <form class="register welcomereg" style="padding-top:1rem;" action="register.php" method="post">
        <input class="input marginbottom" type='email' placeholder="email" name='email' maxlength="50"/><br>
        <input class="input marginbottom" type='name' placeholder="username" name='username' maxlength="50"/><br>
        <input class="input marginbottom" type='password' placeholder="password" name='password' maxlength="50"/><br>
        <input style="width:100%;" class="button {registerbtnclass}" id="register" type="submit" value="join"/>
      </form>
      <a style="" class="inblock margin {loginlinkclass} smalltext" href="login.php">Already a member? Sign in</a>

    </div>
  </div>

</div>
